/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


/**
 * global styles
 */

span.light {
  color: var(--ifm-color-primary);
}

.h1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 6.25rem;
  color: var(--ifm-color-primary-darker);
  margin: var(--page-gap) 0 2.5rem;
}

@media screen and (max-width: 996px) {
  .h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

.h2 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 5.5rem;
  color: var(--ifm-color-primary-darker);
}

@media screen and (max-width: 996px) {
  .h2 {
    font-size: 2.25rem;
    line-height: 3.375rem;
  }
}

.h3 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 3.375rem;
  padding-top: 0.9375rem;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 996px) {
  .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0.4375rem;
    margin-bottom: 0.375rem;

  }
}

.p {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
  color: var(--ifm-color-primary-darker);

}

.p2 {
  font-size: 2.125rem;
  font-weight: 250;
  line-height: 2.875rem;
  margin-top: 0.25rem;
}

@media screen and (max-width: 996px) {
  .p {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .p2 {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--ifm-color-primary-darker);
  padding: 0.4375rem 3.25rem;
  background: transparent;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: var(--ifm-color-primary-darker);

}

.button.primary {
  background: var(--ifm-color-primary-darker);
  color: #fff;
}

@media screen and (max-width: 996px) {
  .button {
    padding: 0.4375rem 2.625rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.375rem;
}

.toc {
  position: sticky;
  top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 18.25rem;
}

@media screen and (max-width: 996px) {
  .toc {
    display: none;
  }
}

.tocItem {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.tocItem>a {
  text-decoration: none;
}

.tocItemActive {
  border-bottom: 1px solid var(--ifm-color-primary-darker);
}

.tocItemActive>a {
  color: var(--ifm-color-primary-darker);
  margin-right: .25rem;
}

.tocItem+.tocItem {
  margin-top: 1.5rem;
}

/**
 * page styles
 */

.page {}

/**
 * header styles
 */

.header {
  padding: 0 var(--page-padding-horizontal);
  line-height: 0;
  margin-bottom: var(--page-gap);
}

.banner {
  width: 100%;
}

/**
 * content container styles
 */

.contentContainer {
  position: relative;
  padding: 0 var(--page-padding-horizontal);
  padding-top: 1.25rem;
  margin-bottom: var(--page-gap);

}

.contentContainer.l3 {
  margin-bottom: var(--page-gap-secondary);
}

.contentContainer.noPadding {
  padding: 0;

}

.contentContainer.noPadding>.contentContainerHint {
  padding-left: 0;
}

.contentContainer.noPadding>.contentContainerDivider {
  left: 0;
}

.contentContainerHint {
  position: relative;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-left: 7.5rem;
  color: var(--ifm-color-primary);
}

.contentContainerHintLine {
  position: absolute;
  top: 50%;
  left: 0;
  width: 7rem;
  height: 1px;
  transform: translateY(-50%);
  background-color: var(--ifm-color-primary);
}

.contentContainerDivider {
  position: absolute;
  top: 0;
  left: var(--page-padding-horizontal);
  right: 0;
  height: 1px;
}

.d2 {
  background: var(--ifm-color-primary-darker);
}

.d3 {
  background: rgba(189, 189, 189, 1);
}


/**
 * row container styles
 */
.rowContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--ifm-color-primary);
  padding: 0.3125rem 0 1.5625rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

@media screen and (max-width: 996px) {
  .rowContainer {
    display: flex;
    font-size: 0.625rem;
    line-height: 1rem;
    padding-bottom: 0.6875rem;
  }
}

.longContentColumn {
  flex: 1;
}

@media screen and (max-width: 996px) {
  .longContentColumn {
    text-align: center;
  }
}


.rowContainerDivider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--ifm-color-primary-lighter);
}


/**
 * introduction styles
 */

.introductionSubtitle {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 996px) {
  .introductionSubtitle {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

.introductionContent {
  margin-bottom: 2.5rem;
}

/**
 * about use styles
 */

.aboutUsMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: var(--page-gap);
}

@media screen and (max-width: 996px) {
  .aboutUsMain {
    flex-direction: column;
  }
}

.aboutUsImg {
  width: 14.5rem;
  margin-right: 4.25rem;
}

@media screen and (max-width: 996px) {
  .aboutUsImg {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2.1875rem;
  }
}

.aboutUsBtn {
  margin-top: 2.375rem;
}

@media screen and (max-width: 996px) {
  .aboutUsBtn {
    margin-top: 1.1875rem;
  }
}

/**
 * AI solutions styles
 */

.aiSolutionsMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin-top: 2.5rem;
}

.aiSolutionsContent {
  flex: 1;
}

.aiSolutionsContentContainer {
  margin-top: 2.5rem;
}

@media screen and (max-width: 996px) {
  .aiSolutionsContentContainer {
    margin-top: 1.25rem;
  }
}

.promptImgLayout {
  position: relative;
  height: 33rem;
}

.promptImg {
  width: 48.25rem;
}

.promptForm {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 26.875rem;
  background: #fff;
  border: 1px solid var(--ifm-color-primary);
  padding: 1rem;
}

.promptLabel {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: var(--ifm-color-primary);
  margin-bottom: 0.5rem;
}

.promptInput {
  border: 1px solid rgba(76, 137, 255, 1);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--ifm-color-primary-darker);
}

.promptSubmit {
  border: 1px solid var(--ifm-color-primary-darker);
  color: var(--ifm-color-primary-darker);
  width: 9.75rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--ifm-color-primary-darker);
}

@media screen and (max-width: 996px) {
  .promptImgLayout {
    position: relative;
    height: 21.3125rem;
  }

  .promptForm {
    width: 15.8125rem;
    padding: 0.5rem;
    right: 0.75rem;
  }

  .promptLabel {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .promptInput {
    font-size: 0.625rem;
    line-height: 1rem;
  }

  .promptSubmit {
    width: 8.3125rem;
    height: 2rem;
    font-size: 0.75rem;
  }
}

/**
 * blogs styles
 */

.blogPreviewLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 996px) {
  .blogPreviewLayout {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1.25rem;
  }
}

.blogPreview {
  flex: 1;
}

.blogDate {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: var(--ifm-color-primary);
  margin-bottom: 2.25rem;
}

@media screen and (max-width: 996px) {
  .blogDate {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-bottom: 1.125rem;
  }
}

.blogMain {
  display: block;
  border-top: 1px solid rgba(189, 189, 189, 1);
}

.blogTitle {
  margin: 0.6875rem 0 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: var(--ifm-color-primary-darker);
}

@media screen and (max-width: 996px) {
  .blogTitle {
    margin: 0.3125rem 0;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.blogDescription {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--ifm-color-primary);
  margin-bottom: 2.25rem;
}

@media screen and (max-width: 996px) {
  .blogDescription {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-bottom: 1.125rem;
  }
}

.blogLink {
  position: absolute;
  right: var(--page-padding-horizontal);
  bottom: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: var(--ifm-color-primary-darker);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  border-bottom: 1px solid var(--ifm-color-primary-darker);
}

a.blogLink:hover {
  text-decoration: none;
}

.blogLinkIcon {
  font-size: 1.25rem;
  margin-right: 0.375rem;
}

@media screen and (max-width: 996px) {
  .blogLink {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  .blogLinkIcon {
    margin-right: 2px;
  }
}

/**
 * core members styles
 */

.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 996px) {
  .members {
    grid-template-columns: repeat(2, 1fr);
    gap: unset;
    row-gap: 1.25rem;
    margin-top: 1.25rem;
  }
}

.memberItem {
  position: relative;
  display: flex;
  height: 20.875rem;
}

@media screen and (max-width: 996px) {
  .memberItem {
    height: 13.75rem;
  }
}

.member {
  padding: 1.5rem;
  border: 1px solid #fff;
}

@media screen and (max-width: 996px) {
  .member {
    padding: 1rem;
  }
}

.member.active {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  background: #fff;
  border: 1px solid var(--ifm-color-primary-dark);
}

@media screen and (max-width: 996px) {
  .member.active {
    width: 60vw;
  }

  .memberItem:nth-child(odd)>.member.active {
    left: 1rem;
    right: unset;
  }

  .memberItem:nth-child(even)>.member.active {
    left: unset;
    right: 1rem;
  }
}

.memberClose {
  font-size: 1.875rem;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 996px) {
  .memberClose {
    font-size: 1.25rem;
    top: 0.625rem;
    right: 0.625rem;
  }
}

.memberAvatar {
  display: block;
  width: 13.25rem;
  height: 13.25rem;
}

@media screen and (max-width: 996px) {
  .memberAvatar {
    width: 8.8125rem;
    height: 8.8125rem;
  }
}

.memberDetails {
  margin-top: 1.25rem;
}

@media screen and (max-width: 996px) {
  .memberDetails {
    margin-top: 1.25rem;
  }
}

.memberName {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  color: var(--ifm-color-primary-darker);
}

@media screen and (max-width: 996px) {
  .memberName {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.memberPosition {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--ifm-color-primary-dark);
}

@media screen and (max-width: 996px) {
  .memberPosition {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.memberExtra {
  margin-top: 1.25rem;
  padding-top: 0.625rem;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--ifm-color-primary-darker);
  border-top: 1px solid rgba(189, 189, 189, 1);
}

@media screen and (max-width: 996px) {
  .memberExtra {
    margin-top: 0.625rem;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}

.memberDetailsOverlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(224, 224, 224, 0.7);
  z-index: 999;
}

/* .memberDetailsOverlay.visible {
  display: block;
} */

/**
 * partners styles
 */

.partnersLayout {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 10.75rem);
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 996px) {
  .partnersLayout {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.375rem;
    row-gap: 1rem;
    margin-top: 1.25rem;
  }
}

.partnerImg {
  width: 10.75rem;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 996px) {
  .partnerImg {
    width: 5.625rem;
  }
}


/**
 * contact us styles
 */

.contactUsText {
  margin: 2.5rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
}

@media screen and (max-width: 996px) {
  .contactUsText {
    margin: 1.25rem 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
}

/**
 * footer styles
 */

.footerLayout {
  display: flex;
  flex-direction: row;
  padding-right: var(--page-padding-horizontal);
}

@media screen and (max-width: 996px) {
  .footerLayout {
    flex-direction: column;
  }
}

.companyInfo {
  min-width: 18.25rem;
}

@media screen and (max-width: 996px) {
  .companyInfo {
    min-width: unset;
  }
}

.footerLogo {
  display: block;
  width: 5.5rem;
}

.copyright {
  margin-top: 0.625rem;
}

.footerItem+.footerItem {
  margin-top: 0.625rem;
}

@media screen and (max-width: 996px) {
  .footerItems {
    margin-top: 0.3125rem;
  }

  .footerItem+.footerItem {
    margin-top: 0.3125rem;
  }
}

.footerText {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--ifm-color-primary-darker);
}

.footerColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footerColumnHead {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--ifm-color-primary-darker);
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 996px) {
  .footerColumnHead {
    margin-bottom: 0;
    margin-top: 1.25rem;
  }
}

.socialMedias {
  margin-left: 3.5rem;
  display: flex;
  flex-direction: row;
}

.socialMedias.mobile {
  display: none;
}

@media screen and (max-width: 996px) {
  .socialMedias {
    margin-left: 0;
    margin-top: 0.625rem;
  }

  .socialMedias.mobile {
    display: flex;
  }

  .socialMedias.desktop {
    display: none;
  }
}

.socialMedia {
  width: 1.75rem;
  cursor: pointer;
}

@media screen and (max-width: 996px) {
  .socialMedia {
    width: 1.5rem;
  }

}

.socialMedia+.socialMedia {
  margin-left: 1rem;
}